[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
beautifulsoup4 = "*"
lxml = "*"
requests = "*"
pypdf = "*"
tiktoken = "*"
chromadb = "*"

[dev-packages]

[requires]
python_version = "3.11"
